demo/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Artefactos de construcción (compilados)
out/
build/
*.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos estáticos de la plantilla SB Admin 2
demo/src/main/resources/static/vendor
demo/src/main/resources/static/css/sb-admin-2.min.css
demo/src/main/resources/static/css/sb-admin-2.css
demo/src/main/resources/static/js/sb-admin-2.min.js
demo/src/main/resources/static/js/sb-admin-2.js
demo/src/main/resources/static/js/demo/
demo/src/main/resources/static/img/

# Dependencias generadas por Maven
.idea_modules/
.classpath
.project
.settings/

# Archivos específicos de entornos de ejecución
*.jar
*.war
*.zip
*.tar.gz
.vscode/

# Dependencias de Maven
/lib/
/repository/
