<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    xmlns:th="http://www.thymeleaf.org">

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" th:href="@{/web/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Gestión
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/web/clients}">
            <i class="fas fa-fw fa-users"></i>
            <span>Clientes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/web/providers}">
            <i class="fas fa-fw fa-truck"></i>
            <span>Proveedores</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/web/products}">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Inventario (Productos)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/web/employees}">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Empleados</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/web/orders}">
            <i class="fas fa-fw fa-file-invoice"></i>
            <span>Órdenes</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>